<div class="recipes" *ngIf="filteredRecipes$ | async as recipes">
  <mat-card *ngFor="let recipe of recipes" class="recipe-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle [outerHTML]="recipe.rating || 0 | starFormatter"></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/imgs/{{recipe.imageUrl}}" alt="{{recipe.title}}">
    <mat-card-content>
      <p>
        {{ recipe.prepTime }}min
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div align="center">
        <button mat-mini-fab color="warn" aria-label="Cook" title="Cook" (click)="editRecipe(recipe)">
          <mat-icon>outdoor_grill</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
