.recipes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2%;
}

.recipe-card {
  max-width: 200px;
  margin: 2%;
}

img {
  height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}
